In [1]:
# loading modules
from dask.distributed import Client
import dask.dataframe as df

In [2]:
# Connecting from client machine to dask scheduler 
dask_api_url = "tcp://44.216.130.200:8786"
client = Client(dask_api_url)
print("connected to dask cluster with webUI : ",client.dashboard_link)

connected to dask cluster with webUI :  http://44.216.130.200:8787/status

In [3]:
# doing online sales data analysis 
data_url = "https://raw.githubusercontent.com/redashu/Datasets/refs/heads/master/sales1.csv"

In [4]:
# loading data using dask dataframe since it is a little structured one
mydf = df.read_csv(data_url)
# printing default data
mydf.head()

        region  sales             product
0     New York    150    Wireless Earbuds
1  Los Angeles    200       Smart Speaker
2      Chicago     50  Bluetooth Keyboard
3      Houston    300          Smartwatch
4      Phoenix    120        Tablet Stand

In [6]:
# Example 1 Filter rows where sales are greater than 100 
filtered_df = mydf[mydf['sales'] > 100 ]

In [7]:
# example 2 -- group by Region and compute total sales per region in above data
total_sales_per_region = filtered_df.groupby("region")['sales'].sum()

In [8]:
# example 3 -- group by Product and compute total sales per Product in above data
total_sales_per_product = filtered_df.groupby("product")['sales'].sum()

In [10]:
# calling action and print the results
print("total sales per Region (sales >100 ) counts ")
print(total_sales_per_region.compute())

total sales per Region (sales >100 ) counts
region
Austin           110
Baltimore        200
Charlotte        160
Denver           190
Detroit          210
El Paso          170
Fort Worth       220
Houston          300
Jacksonville     130
Las Vegas        180
Los Angeles      200
Louisville       120
Milwaukee        110
New York         150
Philadelphia     180
Phoenix          120
Portland         150
San Diego        250
San Francisco    270
San Jose         400
Seattle          140
Washington       230
Name: sales, dtype: int64

In [11]:
# calling action and print the results
print("total sales per product (sales >100 ) counts ")
print(total_sales_per_product.compute())

total sales per product (sales >100 ) counts
product
Air Purifier            130
Bluetooth Adapter       120
Bluetooth Speaker       270
Desk Lamp               170
External Hard Drive     250
Home Security Camera    160
Robot Vacuum            110
Smart Display           180
Smart Light Bulbs       220
Smart Lock              200
Smart Plug              140
Smart Scale             210
Smart Speaker           200
Smart Thermostat        400
Smartwatch              300
Streaming Device        190
Tablet Stand            120
Webcam                  110
Wireless Earbuds        150
Wireless Keyboard       150
Wireless Mouse          180
Wireless Router         230
Name: sales, dtype: int64